
.box{
  height: 70vh;
  width: 80vh;
  margin: 1rem;
border: 5px solid pink;
border-radius: 1rem;
box-shadow: 5px 10px #888888;
}
.words{
 padding: 5rem;
}
.head{
  align-items: center;
   padding-left: 10rem;
}
