body {
  padding: 30vh;
    font-family: Arial, sans-serif;
} 

.container {
     border: 4px solid black;
     border-radius: 15px;
    height: 230px;
    box-shadow: 5px 10px #888888;
    background-color: #f2f2f2;

   
}
h1 {
  text-align: center;
}

h3 {
  text-align: center;;
}
